html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 60%;
}
html {
  background-color: var(--purple);
}
h1 {
  font-size: 7rem;
  border: var(--black) 2px;
}

h3 {
  font-size: 5rem;}
#input {
  width: 70%;
  height: 4rem;
  font-size: 24px;
  background-color: var(--white);

}

.title {
    color: var(--black);
  background-color: var(--oj);
  border-width: 3rem;
  border-color: var(--black);
  text-align: center;
  padding: 3rem;

}
    :root {
        /*maincolors*/
        --green: #52d053;
        --purple:#765898;
        --red:#ec2323;
        --OJ:#ea8532;
        --black:#000000;
        --white:#ffffff;
/*redo this part in perticutly  */
    }
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
    border-style: outset;
  text-align: center;
  width: 39%;
  background-color: var(--green);
  border-width: 1.5rem;
  border-style: outset;
  margin: 3%;
  max-height: 70rem; 
}
.text {
  padding: 1rem;
  max-height: 30rem;
}
.card img {
  margin-bottom: 20%;
  width: initial;
  margin: 5%;
  outline: var(--white) 1rem;
}

  .img {
    height: 30rem;
    width: 30rem;
  }
  .characterName {
    font-size: 5rem;
  }
  #search {
    margin: 0px;
  }
   
    #search-bar {
      padding: 10px;
      width: 75%;
      border: gray solid thin;
      font-size: 5rem;
    }
    #search-button {
      padding: 10px;
      border: none;
      background: white;
      color: var(--black);
      font-size: x-large;
      cursor: pointer;
    }